.hero {
    padding-left: 40px;
    height: 80vh;
}

.background-image {
    height: 96vh;       
    width: auto;        
    object-fit: cover;  
    position: absolute;  
    top: 30px;         
    right: 0;          
    z-index: -1;       
}

.header-text {
    margin-top: 15%;
    font-size: 30px;
    position: relative;
    z-index: 1;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text #animate {  
    color: #B8D0D9;
    position: relative;
    animation: mymove 5s ease-in-out forwards;
}

/* Typing Effect */
.typing-text {
    font-size: 24px;
    font-weight: bold;
    color: #f1f1f1;
    white-space: nowrap;
    border-right: 3px solid #fff; /* Blinking cursor */
    padding-right: 5px;
    overflow: hidden;
    width: fit-content;
    min-height: 30px;
}
